@use './calendar.scss';

div._tw-wrapper {
  display: contents;

  & + * {
    display: none;
  }
}

textarea.tw-auto-resize {
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}

.tw-filter-group .tw-filter-item[data-tw-blurry] {
  display: none;
}
